<h2 class="row__title">React Advanced Patterns & Techniques &ndash; Thursday, 4th October 2018</h2>

<div class="row row--2">
  <div class="row__column">
    <p>
      React may be just a simple UI library, but it involves a pretty big ecosystem around it.
      Explaining the basics and internals is not enough, so in this module, we're going to explain the
      best practices, we're going to learn to "think in React", and apply solutions to real problems that
      you might encounter in the process of building an app.
    </p>
    <br>

    <h3>Venue</h3>
    <p>
      The React training with Kitze will take place on October 4, in the same venue as the conference:
    </p>
    <p>
      <strong class="row__title">Hotel San Marco</strong><br>
      Via Longhena, 42<br>
      37138 Verona — Italy<br>
      045569011<br>
      045572299<br>
      <a href="http://www.sanmarco.vr.it/index.cfm/it/">http://www.sanmarco.vr.it/</a><br>
      The conference hotel offers discounted rates on single and double bedrooms.
    </p>
    <br>

    <h3>Prerequisites</h3>
    <p>
      To attend this workshop you need to be familiar with the basics of React,
      as well as most of the new features in ES2015.<br>
      <br>
      To follow the workshop you will need a laptop, but you don't need to install anything on it: you will code using
      CodeSandbox. If you want to code on your computer anyway, you need to install npm, create-react-app, and a code
      editor of your choice.
    </p>
    <br>

    <h3>Advanced Patterns</h3>
    <p>
      We'll explore all the advanced techniques for making flexible and maintainable React components.
      We'll see how using popular patterns like Higher Order Components, Compound Components, Render Props etc.
      can help us in simplifying things, making our components more reusable and our apps more declarative.
    </p>
    <br>

    <h3>React 16 & Beyond</h3>
    <p>
      React 16 comes with some major changes and an update to the core algorithm.
      In this module, we'll explore some practical use-cases for Portals, Fragments, Error Boundaries etc.
      We'll see how the new Context API can simplify state-management and we'll play with
      a new feature called react-call-retur
    </p>
    <br>

    <h3>Topics</h3>
    <p>
      Here are the topics that will be covered:
      <ul>
        <li>Higher Order Components</li>
        <li>Render Props</li>
        <li>New Context API</li>
        <li>Compound Components</li>
        <li>Controlled Components</li>
        <li>New features in React 16+</li>
      </ul>
    </p>
    <br>

    <h3>Schedule</h3>
    <p>
      Here is the schedule of the day:<br>
      <table cellpadding="3">
        <tr>
          <td style="text-align: center">8:00</td>
          <td>-</td>
          <td style="text-align: center">9:00</td>
          <td>Registration</td>
        </tr>
        <tr>
          <td style="text-align: center">9:00</td>
          <td>-</td>
          <td>11:00</td>
          <td>Workshop</td>
        </tr>
        <tr>
          <td>11:00</td>
          <td>-</td>
          <td>11:20</td>
          <td>Coffee break</td>
        </tr>
        <tr>
          <td>11:20</td>
          <td>-</td>
          <td>13:00</td>
          <td>Workshop</td>
        </tr>
        <tr>
          <td>13:00</td>
          <td>-</td>
          <td>14:00</td>
          <td>Lunch</td>
        </tr>
        <tr>
          <td>14:00</td>
          <td>-</td>
          <td>15:30</td>
          <td>Workshop</td>
        </tr>
        <tr>
          <td>15:30</td>
          <td>-</td>
          <td>15:50</td>
          <td>Coffee break</td>
        </tr>
        <tr>
          <td>15:50</td>
          <td>-</td>
          <td>17:00</td>
          <td>Workshop</td>
        </tr>
      </table>
    </p>

    <br /> <br />
    <a href="https://www.eventbrite.com/e/reactjs-day-2018-tickets-38471763079" class="button button--register">
      Get tickets!
    </a>
  </div>
  <div class="row__column">
    <div class="talk__speakers">
      <span class="talk__speaker-name">
          Kristijan 'Kitze' Ristovski
      </span>
    </div>
    <p>
      <img src="{{ site.baseurl }}/img/{{ site.data.conference.slug }}/training/kitze.jpg" alt="Kristijan 'Kitze' Ristovski">
    </p>

    <div class="talk__twitters">
        <a href="https://twitter.com/thekitze" class="talk__speaker-twitter">
          <i class="icon-twitter"></i>
          @thekitze
        </a>
    </div>
  </div>
</div>
